@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.8rem;
    font-family: 'Raleway', sans-serif;
}

article {
    padding: 0 1em;
}

section {
    margin: 1em;
    padding: 1em;
}

p.welcome {
    background-color: rgba(82, 107, 50, .6);
    color: white;
    font-size: 1.5em;
}

header, main, footer {
    margin: 0 auto;
}

header {
    padding: 2em;
    text-align: center;
    /*background-color: #F5D60A;*/
    background-image: url('img/bgc.jpg');
    background-size: cover;
    background-position: center;
}

header section {
    margin: 0 auto;
    width-max: 640px;
}

header img {
    border-radius: 50%;
    height: 300px;
}

h1 {
    margin: 1em 0;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;

}

main {
    max-width: 1140px;
}

main > section {
    border-bottom: 1px dotted rgb(82, 107, 50);
}

main > section:last-child {
    border-bottom: none;
}

.socials, .course, .skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social {
    flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    max-width: 20%;
}

.social img {
    height: 50px;
}


.course .title {
    flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    max-width: 33%;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(82, 107, 50);
}

.course .description {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%
}

.course .description p {
    padding-left: 1em;
    background-color: rgba(82, 107, 50, .6);
    color: white;

}


.skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

ul {
    margin: 0;
}

ul.list {
    list-style-type: none;
    padding: 0;
}

ul.list > li {
    padding-left: 1.5em;
    text-transform: uppercase;
}

ul.list > li:before {
    content: "►";
    padding-right: 0.5em;
    color: rgb(245, 214, 10);
}

article {
    margin-bottom: 1.5em;
}

.school span, .experience span {
    color: rgb(82, 107, 50);
}

.hobby {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5em;
    background-color: rgba(245, 214, 10, .7);
}

.column-hobby {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hobby img {
    border-radius: 50%;
    height: 200px;
    transition: .2s;
}

.hobby img:hover {
    opacity: 0.5;
}

.hobby a {
    color: black;
    text-decoration: none;
}

.hobby a:hover {
    opacity: 0.5;
}


footer {
    padding: .5em;
    background-color: rgb(245, 214, 10);
    text-align: center;
}

