@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.8rem;
    font-family: 'Raleway', sans-serif;
}

article {
    padding: 0 1em;
}

section {
    margin: 1em;
    padding: 1em;
}

p.welcome {
    background-color: rgb(245, 217, 206);
    color: rgb(67,94,62);
    font-size: 1.5em;
}

header, main, footer {
    margin: 0 auto;
}

header {
    padding: 2em;
    text-align: center;
    background-image: url('img/bgc.jpg');
    background-size: cover;
    background-position: center;
}

header section {
    margin: 0 auto;
   max-width: 640px;
}

.image {
    border-radius: 50%;
    height: 300px;
    transition: .2s;

}
.image:hover {
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

h1 {
    margin: 1em 0;
    text-transform: uppercase;
}

h3 {
    background-color: rgb(245, 217, 206);
}

main {
    max-width: 1140px;
}

main > section {
    border-bottom: 1px dotted rgb(82, 107, 50);
}

main > section:last-child {
    border-bottom: none;
}

.socials, .course, .skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social {
    flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    max-width: 20%;
    transition: .2s;
}

.social img {
    height: 50px;
}

.social img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.course .title {
    flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    max-width: 33%;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(104, 49, 13);
}

.course .description {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%
}

.course .description p {
    padding-left: 1em;
    color: rgb(104, 49, 13);

}

.school p{
    display: inline-block;
    margin: 30px 20px;
}
.skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

ul {
    margin: 0;
}

ul.list {
    list-style-type: none;
    padding: 0;
}

ul.list > li {
    padding-left: 1.5em;
    text-transform: uppercase;
}

ul.list > li:before {
    content: "►";
    padding-right: 0.5em;
    color: rgb(184, 125, 91);
}

article {
    margin-bottom: 1.5em;
}

.school span, .experience span {
    color: rgb(82, 107, 50);
}

.hobby {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 5em;

}

.column-hobby {
    position: relative;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.img {
    border-radius: 50%;
    height: 200px;
    transition: .2s;
}

.img:hover {
    opacity: 0.5;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.link {
    color: rgb(184, 125, 91);
    text-decoration: none;

}



footer {
    padding: .5em;
    background-color: rgb(184, 125, 91);
    color: rgb(245, 217, 206);
    text-align: center;
}


footer p {
    margin: auto;
}